# Dependency directories
node_modules/
jspm_packages/
web_packages/

# Compilation outputs
dist/
build/
out/
.next/
dist-server/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.sync.local

# Logs and databases
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.pnpm-debug.log*
.db
*.db
*.sqlite

# IDE and Editor configurations
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Next.js configurations
next-env.d.ts
.next

# Multer uploads directory
uploads/
